In [2]:
import pandas as pd
import numpy as np

In [ ]:
#Generamos un df
df = pd.DataFrame({
    'Impares':[1,3,5],
    'Pares':[2,4,6]
})

df

Conversion de df a un array de numpy, hay dos formas de hacerlo

In [4]:
#Forma1:
array_np1 = df.values#Acá con values(es un atrib) lo que estamos haciendo es cargarle a array_np1 un valor que extraemos de df y lo almacenará como array en esta var
array_np1#Invocamos para mostrar el array....

array([[1, 2],
       [3, 4],
       [5, 6]])

In [5]:
#Forma2:
array_np2 = df.to_numpy()#Esta fn hace lo mismo que values...
array_np2

array([[1, 2],
       [3, 4],
       [5, 6]])

Operaciones con arrays de numpy en pandas, esto se puede hacer pq pandas se basa en numpy y la operaciones de numpy se puede aplicar directamente a las columnas o filas de nuestro df de pandas

In [6]:
np.sqrt(df)#Acá estamos aplicando un método de numpy a un df y nos dev un dataframe con los números cálculados gracias a numpy

    Impares     Pares
0  1.000000  1.414214
1  1.732051  2.000000
2  2.236068  2.449490

In [7]:
np.max(df)#Otro ej pero con la fn max()

np.int64(6)

In [8]:
np.min(df)#Otro más pero conla fn min()

np.int64(1)

Convertir un array de numpy a un df de pandas

In [10]:
df_desde_np = pd.DataFrame(array_np1)#Estamos conv un array a un df
df_desde_np

   0  1
0  1  2
1  3  4
2  5  6

In [11]:
df_desde_np = pd.DataFrame(array_np1,columns=['Impares','Pares'])#Es l mismo ej que el anterior solo q le estamos colocando nombre a la columna del df gracias al parám columns
df_desde_np

   Impares  Pares
0        1      2
1        3      4
2        5      6