In [4]:
#Importaciones de las librerías
import numpy as np
import pandas as pd

Cargar datos

In [5]:
df = pd.read_csv('datos_meteorologicos.csv')
df.head(5)

        Fecha  Temperatura  Precipitación    Humedad
0  01/01/2010    17.440675      10.957482  52.384637
1  02/01/2010    25.759468       5.315628  30.633530
2  03/01/2010    20.138169      15.317706  41.496715
3  04/01/2010    17.244159      13.151008  90.684704
4  05/01/2010    11.182740      16.413667  22.116422

Exploración de los datos con Pandas:
1_Observar las 1eras filas
2_Ver el tamaño del dataset
3_Ver los nombres de la columna
4_Ver la info gnal de los datos
5_Obtener estadísticas de las columnas nuércias
6_Ver si hay valores nulos

In [43]:
#Observación de las 1eras filas del df
df.head(5)

        Fecha  Temperatura  Precipitación    Humedad
0  01/01/2010    17.440675      10.957482  52.384637
1  02/01/2010    25.759468       5.315628  30.633530
2  03/01/2010    20.138169      15.317706  41.496715
3  04/01/2010    17.244159      13.151008  90.684704
4  05/01/2010    11.182740      16.413667  22.116422

In [44]:
#Que tipo de datos son los valores de la columna fecha
type(df['Fecha'][0])

str

In [45]:
#Tamaño del dataset
df.shape
#->Cuenta con 5110 filas y 4 columnas

(5110, 4)

In [46]:
#Nombre de las columnas
df.columns

Index(['Fecha', 'Temperatura', 'Precipitación', 'Humedad'], dtype='object')

In [47]:
#Ver los tipos de datos y valores nulos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fecha          5110 non-null   object
 1   Temperatura    4855 non-null   float64
 2   Precipitación  4855 non-null   float64
 3   Humedad        4855 non-null   float64
dtypes: float64(3), object(1)
memory usage: 159.8+ KB

In [48]:
#Descripción estadística de las columnas numéricas 
df.describe()#Ver la media,desv estándar,percentiles, etc etc

       Temperatura  Precipitación      Humedad
count  4855.000000    4855.000000  4855.000000
mean     14.889296       9.901604    54.359061
std      14.440466       5.801842    26.096345
min      -9.996378       0.003008    10.014980
25%       2.651777       4.756907    31.866578
50%      14.693274       9.853698    54.254478
75%      27.381451      14.966997    77.029500
max      39.998201      19.999559    99.996582

In [49]:
#Ver los val nulos
df.isnull().sum()#Contabiliza los val nulos por columna

Fecha              0
Temperatura      255
Precipitación    255
Humedad          255
dtype: int64

pandas._libs.tslibs.timestamps.Timestamp

Convertir las columnas del df en arrays

In [41]:
#Acá estoy quitando la columna de fecha 
temperatura = df['Temperatura'].to_numpy()
precipitacion =  df['Precipitación'].to_numpy()
humedad =  df['Humedad'].to_numpy()

print(f'Temperatura: {temperatura}\nPrecipatación: {precipitacion}\nHumedad: {humedad}')

Temperatura: [17.4406752  25.75946832 20.1381688  ... 29.87359717         nan
 37.30804318]
Precipatación: [10.957482    5.31562765 15.31770609 ...  4.61501177         nan
  7.33051023]
Humedad: [52.38463749 30.63352983 41.49671458 ... 18.36284738         nan
 50.64621058]

Identif los datos faltantes en los arrays  y reemplazarlos por el promedio de los valores del respectivo array

In [63]:
#Identif los nan de cada columna
temp_nan = np.isnan(temperatura)
precip_nan = np.isnan(precipitacion)
humed_nan = np.isnan(humedad)

In [64]:
#Calculamos el promedio de cada columna quitando los nan
temp_prom = np.nanmean(temperatura)
precip_prom = np.nanmean(precipitacion)
hum_prom = np.nanmean(humedad)

In [65]:
#Reemplazamos los nan por el promedio con el met where
temp_reemplazo = np.where(np.isnan(temperatura),temp_prom,temperatura)
precip_reemplazo =  np.where(np.isnan(precipitacion),precip_prom,precipitacion)
hum_reemplazo=np.where(np.isnan(humedad),hum_prom,humedad)

array([52.38463749, 30.63352983, 41.49671458, ..., 18.36284738,
       54.3590608 , 50.64621058])

Hacer análisis estádisticos:
1_Temp promedio
2_El total de precipitaciones
3_La máxima humedad registrada
4_La fecha mas calurosa
5_La fecha mas fría

In [71]:
#Temp prom
temp_prom = np.mean(temp_nan)
temp_prom

14.889295723531713

In [73]:
#Total promedio de precip
total_precip = np.sum(precip_reemplazo)
total_precip

50597.19438939993

In [74]:
#Máx humedad registrada
max_humedad = np.max(hum_reemplazo)
max_humedad

99.99658156071747

In [76]:
#Máxima calor
mas_calor = np.max(temp_reemplazo)
mas_calor

39.99820092713012

In [89]:
#Empezar a enlazar el calor máx con la fecha mas calurosa
registro_mas_caluroso = np.where(temp_reemplazo == mas_calor)
registro_mas_caluroso

(array([2749], dtype=int64),)

In [90]:
#Enlace con la fecha
fecha_mas_calurosa = df.iloc[registro_mas_caluroso]['Fecha']
fecha_mas_calurosa

2749   2017-07-12
Name: Fecha, dtype: datetime64[ns]

In [97]:
#Obtener fecha mas fría
fecha_mas_fría = df.iloc[np.where(temp_prom == np.min(temp_prom))[0][0]]['Fecha']
fecha_mas_fría

Timestamp('2010-01-01 00:00:00')