In [41]:
#Importaciones de las librerías
import numpy as np
import pandas as pd

Cargar datos

In [42]:
df = pd.read_csv('datos_meteorologicos.csv')
df.head(5)

        Fecha  Temperatura  Precipitación    Humedad
0  01/01/2010    17.440675      10.957482  52.384637
1  02/01/2010    25.759468       5.315628  30.633530
2  03/01/2010    20.138169      15.317706  41.496715
3  04/01/2010    17.244159      13.151008  90.684704
4  05/01/2010    11.182740      16.413667  22.116422

Exploración de los datos con Pandas:
1_Observar las 1eras filas
2_Ver el tamaño del dataset
3_Ver los nombres de la columna
4_Ver la info gnal de los datos
5_Obtener estadísticas de las columnas nuércias
6_Ver si hay valores nulos

In [43]:
#Observación de las 1eras filas del df
df.head(5)

        Fecha  Temperatura  Precipitación    Humedad
0  01/01/2010    17.440675      10.957482  52.384637
1  02/01/2010    25.759468       5.315628  30.633530
2  03/01/2010    20.138169      15.317706  41.496715
3  04/01/2010    17.244159      13.151008  90.684704
4  05/01/2010    11.182740      16.413667  22.116422

In [44]:
#Que tipo de datos son los valores de la columna fecha
type(df['Fecha'][0])

str

In [45]:
#Tamaño del dataset
df.shape
#->Cuenta con 5110 filas y 4 columnas

(5110, 4)

In [46]:
#Nombre de las columnas
df.columns

Index(['Fecha', 'Temperatura', 'Precipitación', 'Humedad'], dtype='object')

In [47]:
#Ver los tipos de datos y valores nulos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fecha          5110 non-null   object
 1   Temperatura    4855 non-null   float64
 2   Precipitación  4855 non-null   float64
 3   Humedad        4855 non-null   float64
dtypes: float64(3), object(1)
memory usage: 159.8+ KB

In [48]:
#Descripción estadística de las columnas numéricas 
df.describe()#Ver la media,desv estándar,percentiles, etc etc

       Temperatura  Precipitación      Humedad
count  4855.000000    4855.000000  4855.000000
mean     14.889296       9.901604    54.359061
std      14.440466       5.801842    26.096345
min      -9.996378       0.003008    10.014980
25%       2.651777       4.756907    31.866578
50%      14.693274       9.853698    54.254478
75%      27.381451      14.966997    77.029500
max      39.998201      19.999559    99.996582

In [49]:
#Ver los val nulos
df.isnull().sum()#Contabiliza los val nulos por columna

Fecha              0
Temperatura      255
Precipitación    255
Humedad          255
dtype: int64

Convertir las columnas del df en arrays

In [50]:
array = df.to_numpy()
array

array([['01/01/2010', 17.440675196366236, 10.957481997233586,
        52.38463748841593],
       ['02/01/2010', 25.75946831862097, 5.3156276517729895,
        30.63352983123037],
       ['03/01/2010', 20.138168803582197, 15.317706093986718,
        41.49671457625978],
       ...,
       ['26/12/2023', 29.87359717232944, 4.61501176564858,
        18.362847375985744],
       ['27/12/2023', nan, nan, nan],
       ['28/12/2023', 37.3080431767716, 7.33051023049333,
        50.646210575443774]], shape=(5110, 4), dtype=object)

Identif los datos faltantes en los arrays  y reemplazarlos por el promedio de los valores del respectivo array

In [53]:
promedio = a
np.isnan(array).sum()

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''