Acá vamos a hacer práctica de lo de udemy solo para practicar nomas y no usalos otros notebooks de las secciones, no importa mucho lo que hay aca porque los ejercicios están en udemy, este notebook es solo de práctica

Seccion1:Pandas1

In [11]:
import pandas as pd


data = {
    'ID': [1, 2, 3, 4, 1],
    'Producto': ['Producto A', 'Producto B', 'Producto C', 'Producto D', 'Producto A'],
    'Cantidad': [10, 20, 30, 40, 50],
    'Precio': [100, 200, 300, 400, 100]
}



df = pd.DataFrame(data)



df_sin_duplicados = df.drop_duplicates(subset=['ID','Producto','Precio'])
df_sin_duplicados

   ID    Producto  Cantidad  Precio
0   1  Producto A        10     100
1   2  Producto B        20     200
2   3  Producto C        30     300
3   4  Producto D        40     400

In [19]:
import pandas as pd

data = {
    'ID': [1, 2, 3, 4],
    'Producto': ['Producto A', 'Producto B', 'Producto C', 'Producto D'],
    'Cantidad': [10, 20, 30, 40],
    'Precio': [100, None, 300, None]
}


df = pd.DataFrame(data)

promedio = df['Precio'].mean()

df_relleno = df.fillna(promedio)
df_relleno

   ID    Producto  Cantidad  Precio
0   1  Producto A        10   100.0
1   2  Producto B        20   200.0
2   3  Producto C        30   300.0
3   4  Producto D        40   200.0

In [30]:
import pandas as pd

# Serie de ventas del mes
ventas_mes = pd.Series([220, 235, 260, 213, 202, 298, 265, 198, 220, 230, 190, 215, 275, 222, 218, 245, 233, 210, 290, 210,
                        215, 220, 225, 230, 245, 250, 260, 270, 280, 295])


total_ventas_mes = ventas_mes.sum()

dia_ventas_mas_bajas = ventas_mes.min()

promedio_ventas_mes = ventas_mes.mean()

np.float64(237.96666666666667)

Seccion2:Pandas2

In [11]:
import pandas as pd

libros = {
    'Titulo':['El Quijote','Cien años de soledad','La odisea'],
    'Autor':['Miguel de Cervantes','Gabriel García Márquez','Homero'],
    'Año':[1605,1967,-800]
}

libros_df = pd.DataFrame(libros)
libros_df

0          Miguel Cervantes
1    Gabriel García Marquez
2                    Homero
Name: Autor, dtype: object

In [23]:
# Datos proporcionados
import pandas as pd
data = {
    'Nombre': ['Ana', 'Luis', 'Carlos', 'Sara'],
    'Edad': [25, 30, 22, 27],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Bilbao']
}

df_filtrado = pd.DataFrame(data)
df_filtrado = df_filtrado[df_filtrado['Edad'] >= 25]
df_filtrado

  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Luis    30  Barcelona
3   Sara    27     Bilbao

In [34]:
import pandas as pd
data = {
    'Nombre': ['Ana', 'Luis', 'Carlos', 'Sara'],
    'Edad': [25, 30, 22, 27],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Bilbao']
}

df = pd.DataFrame(data)
df['Edad_en_10_años'] = df['Edad'] +10
df['Ciudad'] = df['Ciudad'].str.upper()
df['Es_Mayor_de_25'] = df['Edad']>=25
df

   Nombre  Edad     Ciudad  Edad_en_10_años  Es_Mayor_de_25
0     Ana    25     MADRID               35            True
1    Luis    30  BARCELONA               40            True
2  Carlos    22   VALENCIA               32           False
3    Sara    27     BILBAO               37            True

In [45]:
import pandas as pd
datos = {
    'titulo': ['Pelicula A', 'Pelicula B', 'Pelicula C', 'Pelicula D'],
    'año': [2001, 2000, 2005, 2010],
    'rating': [7.2, 6.5, 8.1, 7.5]
}

df_ordenado = pd.DataFrame(datos)
df_ordenado=df_ordenado.sort_values('año')
df_ordenado

       titulo   año  rating
1  Pelicula B  2000     6.5
0  Pelicula A  2001     7.2
2  Pelicula C  2005     8.1
3  Pelicula D  2010     7.5

In [49]:
import pandas as pd
datos = {
    'titulo': ['Pelicula A', 'Pelicula B', 'Pelicula C', 'Pelicula D'],
    'año': [2001, 2000, 2005, 2010],
    'rating': [7.2, 6.5, 8.1, 7.5]
}


df_ordenado = pd.DataFrame(datos)
df_ordenado=df_ordenado.sort_values(['rating','año'],ascending=[False,True])
df_ordenado

       titulo   año  rating
2  Pelicula C  2005     8.1
3  Pelicula D  2010     7.5
0  Pelicula A  2001     7.2
1  Pelicula B  2000     6.5

In [52]:
import pandas as pd
datos = {
    'titulo': ['Pelicula A', 'Pelicula B', 'Pelicula C', 'Pelicula D', 'Pelicula E'],
    'género': ['Acción', 'Drama', 'Acción', 'Comedia', 'Drama'],
    'rating': [7.2, 8.5, 9.1, 6.5, 7.8]
}


promedio_rating_por_genero = pd.DataFrame(datos)
promedio_rating_por_genero = promedio_rating_por_genero.groupby('género')['rating'].mean()
promedio_rating_por_genero

género
Acción     8.15
Comedia    6.50
Drama      8.15
Name: rating, dtype: float64

In [4]:
import pandas as pd
libros = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'titulo': ['El Quijote', 'La Odisea', 'Cien Años de Soledad', 'El Principito']
})

autores = pd.DataFrame({
    'ID': [1, 2, 3, 5],
    'nombre': ['Miguel de Cervantes', 'Homero', 'Gabriel García Márquez', 'J.K. Rowling']
})

libros_autores = pd.merge(libros,autores,on='ID',how = 'outer')
libros_autores

   ID                titulo                  nombre
0   1            El Quijote     Miguel de Cervantes
1   2             La Odisea                  Homero
2   3  Cien Años de Soledad  Gabriel García Márquez
3   4         El Principito                     NaN
4   5                   NaN            J.K. Rowling

In [8]:
import pandas as pd

cursos = pd.DataFrame({
    'curso_id': [101, 102, 103],
    'nombre_curso': ['Introducción a Python', 'Data Science con Python', 'Machine Learning Avanzado']
})

inscripciones = pd.DataFrame({
    'curso_id': [102, 102, 101, 104],
    'fecha_inscripcion': ['2023-01-15', '2023-02-01', '2023-01-20', '2023-03-05']
})

cursos_inscripciones = pd.merge(inscripciones,cursos,how='left',on='curso_id')
cursos_inscripciones

   curso_id fecha_inscripcion             nombre_curso
0       102        2023-01-15  Data Science con Python
1       102        2023-02-01  Data Science con Python
2       101        2023-01-20    Introducción a Python
3       104        2023-03-05                      NaN

In [11]:
import pandas as pd



productos = pd.DataFrame({
    'ID': [10, 11, 12],
    'Nombre': ['Teclado', 'Mouse', 'Monitor'],
    'Marca': ['Logitech', 'Razer', 'Dell']
})

reviews = pd.DataFrame({
    'ID': [10, 11, 12],
    'Calificación': [5, 4, 4],
    'Comentario': ['Excelente producto', 'Buen producto', 'Satisfecho']
})

productos_reviews = pd.merge(productos,reviews,left_index=True,right_index=True)
productos_reviews

   ID_x   Nombre     Marca  ID_y  Calificación          Comentario
0    10  Teclado  Logitech    10             5  Excelente producto
1    11    Mouse     Razer    11             4       Buen producto
2    12  Monitor      Dell    12             4          Satisfecho

In [1]:
import pandas as pd

# Creación del DataFrame df_a
df_a = pd.DataFrame({
    'id': [1, 2, 3],
    'Nombre': ['Ana', 'Beto', 'Carla']
})
df_a.set_index('id', inplace=True)

# Creación del DataFrame df_b
df_b = pd.DataFrame({
    'id': [1, 2, 3],
    'Edad': [25, 30, 35]
})
df_b.set_index('id', inplace=True)#inplace = True es para que se aplique en ese df original ese índice y no que genere una copia

#df_a
#df_b
df_combinado = df_a.join(df_b)
df_combinado

In [8]:
import pandas as pd



productos_df = pd.DataFrame({
    'ProductoID': [1, 2, 3, 4],
    'Nombre': ['Producto 1', 'Producto 2', 'Producto 3', 'Producto 4'],
    'Precio': [100, 150, 200, 250]
}).set_index('ProductoID')

categorias_df = pd.DataFrame({
    'CategoriaID': [1, 2],
    'NombreCategoria': ['Categoría 1', 'Categoría 2']
}).set_index('CategoriaID')


df_combinado =  productos_df.join(categorias_df)
df_combinado

                Nombre  Precio NombreCategoria
ProductoID
1           Producto 1     100     Categoría 1
2           Producto 2     150     Categoría 2
3           Producto 3     200             NaN
4           Producto 4     250             NaN

In [12]:
import pandas as pd
productos_df = pd.DataFrame({
    'ProductoID': [1, 2, 3, 4],
    'Nombre': ['Producto 1', 'Producto 2', 'Producto 3', 'Producto 4'],
    'Precio': [100, 150, 200, 250]
})

productos_df = productos_df.set_index('ProductoID')

categorias_df = pd.DataFrame({
    'CategoriaID': [1, 2, 3],
    'NombreCategoria': ['Categoría 1', 'Categoría 2', 'Categoría 3']
}).set_index('CategoriaID')


df_combinado = categorias_df.join(productos_df,how='right')
df_combinado

           NombreCategoria      Nombre  Precio
ProductoID
1              Categoría 1  Producto 1     100
2              Categoría 2  Producto 2     150
3              Categoría 3  Producto 3     200
4                      NaN  Producto 4     250

In [2]:
import pandas as pd


ventas_enero = pd.DataFrame({'Producto': ["Manzanas", "Bananas", "Naranjas"],
                             'Cantidad': [300, 200, 150]
                            })

ventas_febrero = pd.DataFrame({'Producto': ["Manzanas", "Bananas", "Naranjas"],
                               'Cantidad': [350, 210, 170]
                              })


ventas_total = pd.concat([ventas_enero,ventas_febrero],ignore_index = True)
ventas_total

In [8]:
import pandas as pd

datos_cliente = pd.DataFrame({'Nombre': ["Ana", "Luis", "Marta"],
                              'Edad': [34, 45, 28]})

compras_cliente = pd.DataFrame({'Producto': ["Libro", "Lápiz", "Cuaderno"],
                                'Precio': [15.50, 0.50, 2.00]})

info_cliente = pd.concat([datos_cliente,compras_cliente],axis=1)
info_cliente

  Nombre  Edad  Producto  Precio
0    Ana    34     Libro    15.5
1   Luis    45     Lápiz     0.5
2  Marta    28  Cuaderno     2.0

In [9]:
import pandas as pd


tienda_a = pd.DataFrame({'Producto': ["Manzanas", "Bananas"],
                         'Cantidad': [500, 300]
})

tienda_b = pd.DataFrame({'Producto': ["Naranjas", "Peras"],
                         'Cantidad': [400, 250]
})

ventas_tienda = pd.concat([tienda_a,tienda_b],keys=['Tienda A','Tienda B'])
ventas_tienda

            Producto  Cantidad
Tienda A 0  Manzanas       500
         1   Bananas       300
Tienda B 0  Naranjas       400
         1     Peras       250

In [16]:
import pandas as pd


primera_semana_2024 = pd.Series(pd.date_range('20240101',periods=7))
primera_semana_2024

0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
5   2024-01-06
6   2024-01-07
dtype: datetime64[ns]

In [48]:
import pandas as pd

# Leer el archivo CSV
df = pd.read_csv("Fechas_Convertidas.csv.csv")

# Convertir la columna 'fecha' a datetime con formato día/mes/año
df['fecha'] = pd.to_datetime(df['fecha']).dt.strftime('%d/%m/%Y')

# Mostrar el DataFrame
df['fecha'][0]

FileNotFoundError: [Errno 2] No such file or directory: './Fechas_Convertidas.csv.csv'

In [49]:
import pandas as pd


df = pd.read_csv('fechas.csv')


df['fecha'] = pd.to_datetime(df['fecha'],format='%d-%m-%Y')
df['fecha'] = df['fecha']+pd.Timedelta(days = 5)