Ac치 vamos a hacer pr치ctica de lo de udemy solo para practicar nomas y no usalos otros notebooks de las secciones, no importa mucho lo que hay aca porque los ejercicios est치n en udemy, este notebook es solo de pr치ctica

In [11]:
import pandas as pd


data = {
    'ID': [1, 2, 3, 4, 1],
    'Producto': ['Producto A', 'Producto B', 'Producto C', 'Producto D', 'Producto A'],
    'Cantidad': [10, 20, 30, 40, 50],
    'Precio': [100, 200, 300, 400, 100]
}



df = pd.DataFrame(data)



df_sin_duplicados = df.drop_duplicates(subset=['ID','Producto','Precio'])
df_sin_duplicados

   ID    Producto  Cantidad  Precio
0   1  Producto A        10     100
1   2  Producto B        20     200
2   3  Producto C        30     300
3   4  Producto D        40     400

In [19]:
import pandas as pd

data = {
    'ID': [1, 2, 3, 4],
    'Producto': ['Producto A', 'Producto B', 'Producto C', 'Producto D'],
    'Cantidad': [10, 20, 30, 40],
    'Precio': [100, None, 300, None]
}


df = pd.DataFrame(data)

promedio = df['Precio'].mean()

df_relleno = df.fillna(promedio)
df_relleno

   ID    Producto  Cantidad  Precio
0   1  Producto A        10   100.0
1   2  Producto B        20   200.0
2   3  Producto C        30   300.0
3   4  Producto D        40   200.0

In [30]:
import pandas as pd

# Serie de ventas del mes
ventas_mes = pd.Series([220, 235, 260, 213, 202, 298, 265, 198, 220, 230, 190, 215, 275, 222, 218, 245, 233, 210, 290, 210,
                        215, 220, 225, 230, 245, 250, 260, 270, 280, 295])


total_ventas_mes = ventas_mes.sum()

dia_ventas_mas_bajas = ventas_mes.min()

promedio_ventas_mes = ventas_mes.mean()

np.float64(237.96666666666667)