In [2]:
import pandas as pd

In [4]:
#Creación de nuestros df
df1 = pd.DataFrame({
    'ID':[1,2,3],
    'Nombre':['Ana','Pepe','Juan']})
df2 = pd.DataFrame({

    'ID':[1,2,4],
    'Edad':[25,30,22]})

   ID  Edad
0   1    25
1   2    30
2   4    22

In [5]:
df1

   ID Nombre
0   1    Ana
1   2   Pepe
2   3   Juan

In [6]:
df2

   ID  Edad
0   1    25
1   2    30
2   4    22

In [ ]:
#Merge:Toma a varios DF y le pasamos cuales son las columnas en comun en ambos df para que haga la combinacion basandose en esa coincidencia

In [14]:
#Aplicación del método .merge() de pandas
df_combinado  = pd.merge(df1,df2,on='ID')#Invocamos la fn con el pd pq es un método de pandas. dentro del () colocamos los parámetros df1 y df2 y on='ID'  y ahora nos construirá el df de acuerdo a cúal ID se repita en en ambos df, el id que no se repita no aparecerá directamente el regsitro ese. Y se nos formará el df de con el lado izq 1ero que es df1 y dps el lado derecho que es df2
df_combinado

   ID Nombre  Edad
0   1    Ana    25
1   2   Pepe    30

Cambar el valor del parámetro how:outer,left,inner

In [12]:
#Aplicación del método .merge() de pandas
df_combinado  = pd.merge(df1,df2,on='ID',how='inner')#Esto es lo mismo que arriba, únicamente que le pusimo el parámetro how = 'inner', pero este parámetro con ese valor ya está configurado implícitamente arriba tb y lo que hace ese valor outer es construir el df solo colocando los regsitros donde el ID se repita en ambos df
df_combinado

   ID Nombre  Edad
0   1    Ana    25
1   2   Pepe    30

In [13]:
df_combinado  = pd.merge(df1,df2,on='ID',how='outer')#Acá no pasa lo mismo que arriba, ya que estamos cambiando el valor de how y le pusimos un outer, lo que permite este valor es básicamente construir el df pero con todos los registros de los dos df, no importa si no hay ids que sean iguales en los dos df el los pondrá igual y donde no haya un valor pq no esta en el otro df pondrá NaN
df_combinado

   ID Nombre  Edad
0   1    Ana  25.0
1   2   Pepe  30.0
2   3   Juan   NaN
3   4    NaN  22.0

In [15]:
df_combinado  = pd.merge(df1,df2,on='ID',how='left')#Acá lo que hace básicamente, es traer lo del lado izquierdo osea el df1 TODO y deja vacío lo del df2 las partes que no coinciden con el id 
df_combinado

   ID Nombre  Edad
0   1    Ana  25.0
1   2   Pepe  30.0
2   3   Juan   NaN

In [17]:
df_combinado  = pd.merge(df1,df2,on='ID',how='right')#Acá lo que hace básicamente, es traer lo del lado derecha osea el df2 TODO y deja vacío lo del df1 las partes que no coinciden con el id

   ID Nombre  Edad
0   1    Ana    25
1   2   Pepe    30
2   4    NaN    22

In [18]:
df_indexado = pd.merge(df1,df2,left_index = True,right_index=True)#Esto te da los dos df con sus repectivos ids para ver de a donde viene cad dato. Es como los dos dfs con sus respectivos ids
df_indexado

   ID_x Nombre  ID_y  Edad
0     1    Ana     1    25
1     2   Pepe     2    30
2     3   Juan     4    22