In [3]:
import pandas as pd

Creamos nuestros DFs de forma manual

In [13]:
#Creacion de forma manual de una serie que representa fecha(2024/01/01) con 6 períodos, es decir que vaya desde el día 1 hasta el 6, todo esto gracias al método de panda date_range() que es igual al rango de fecha
fechas = pd.Series(pd.date_range('20240101',periods=6))
fechas

0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
5   2024-01-06
dtype: datetime64[ns]

In [5]:
type(fechas[0])#Qué tipo de dato es el 1er elemento de fechas:0   2024-01-01??Es un tipo de dato Timestamp el 1er elemento de las 6 series

pandas._libs.tslibs.timestamps.Timestamp

In [14]:
#Creamos una serie con la fecha 2024/01/01, con 6 períodos y que tenga un frecuencia de días('D'), dará lo mismo que el anterior periods es igual a a la frecuencia de Días
fechas = pd.Series(pd.date_range('20240101',periods=6,freq='D'))
fechas

0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
5   2024-01-06
dtype: datetime64[ns]

In [15]:
#Creamos una serie manual de fecha tb igual a las anteriores, períodos de 6 y una frecuancia de M osea de mes,por ende nos dará desde el mes 1 hasta el 6 con sus días finales de cada mes
fechas = pd.Series(pd.date_range('20240101',periods=6,freq='M'))
fechasa

C:\Users\Usuario\AppData\Local\Temp\ipykernel_512\1571294620.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  fechas = pd.Series(pd.date_range('20240101',periods=6,freq='M'))

NameError: name 'fechasa' is not defined

In [ ]:
#Acá hacemos lo mismo pero con Year-año y nos dará desde el 2024 hasta el 2029, con sus dias finales y meses finales
fechas = pd.Series(pd.date_range('20240101',periods=6,freq='Y'))
fechas

In [ ]:
#Aca es pero con hs, nos dará la hr desde las 00:00:00 hasta las 05:00:00 del del día que pusimo como parámetro 01
fechas = pd.Series(pd.date_range('20240101',periods=6,freq='H'))
fechas

In [ ]:
#Similare a hs pero con minutos, pq nos da desde 00:00:00 hasta 00:05:00 del mismo día 01 que pusimos
fechas = pd.Series(pd.date_range('20240101',periods=6,freq='MIN'))
fechas

In [ ]:
#Acá le metimos el día perído y una frec de 5 dias, esto nos dará el año, mes y con un intervalo de cada 5 días, es decir 01,11,16,21... va saltando cada 5 días
fechas = pd.Series(pd.date_range('20240101',periods=6,freq='5D'))
fechas

Cambiar los tipos de datos que tiene una serie a otro, como el que haremos ahora:str -> datetime

In [16]:
df = pd.read_csv('Mercado+de+Valores+España.csv')
df

,Ticker,Fecha,Cierre,Referencia,Volumen,Rotacion,Ultimo,Alto,Bajo,Promedio
0,ANA,02/01/2019,74.80,73.90,156300,11621188.98,74.80,75.16,72.38,74.3518
1,ANA,03/01/2019,76.34,74.80,140331,10632703.64,76.34,76.60,74.54,75.7687
2,ANA,04/01/2019,76.62,76.34,130309,10010838.76,76.62,77.40,76.40,76.8162
3,ANA,07/01/2019,77.14,76.62,63349,4855724.92,77.14,77.30,75.62,76.6504
4,ANA,08/01/2019,78.24,77.14,99300,7749464.70,78.24,78.46,77.00,78.0409
...,...,...,...,...,...,...,...,...,...,...
8570,VIS,09/12/2019,48.70,48.76,40236,1958325.66,48.70,48.96,48.44,48.6710
8571,VIS,10/12/2019,48.16,48.70,60198,2895965.78,48.16,48.74,47.70,48.1201
8572,VIS,11/12/2019,47.96,48.16,63000,3012462.12,47.96,48.42,47.52,47.8169
8573,VIS,12/12/2019,48.42,47.96,50218,2429199.80,48.42,48.66,47.76,48.3731
8574,VIS,13/12/2019,48.64,48.42,62427,3038685.10,48.64,49.18,48.12,48.6758

In [17]:
df['Fecha'][0]#Con esta porcion de code colocando el DF su serie y algun elemento de esa serie.... veremos el elemento ese(en este caso 0) y que tipo de dato es

'02/01/2019'

In [18]:
type(df['Fecha'][0])#Obtencion del tipo de dato que es el primero elemento de la serie Fecha del DF df

str

In [19]:
#Convertir str a datetime los datos de la serie-columna Fecha

In [20]:
df['Fecha'] = pd.to_datetime(df['Fecha'],format = '%d/%m/%Y')#Convertimos los tipos de datos de la serie original Fecha que están en str a datetime en un formato de dia/mes/año 
df

,Ticker,Fecha,Cierre,Referencia,Volumen,Rotacion,Ultimo,Alto,Bajo,Promedio
0,ANA,2019-01-02,74.80,73.90,156300,11621188.98,74.80,75.16,72.38,74.3518
1,ANA,2019-01-03,76.34,74.80,140331,10632703.64,76.34,76.60,74.54,75.7687
2,ANA,2019-01-04,76.62,76.34,130309,10010838.76,76.62,77.40,76.40,76.8162
3,ANA,2019-01-07,77.14,76.62,63349,4855724.92,77.14,77.30,75.62,76.6504
4,ANA,2019-01-08,78.24,77.14,99300,7749464.70,78.24,78.46,77.00,78.0409
...,...,...,...,...,...,...,...,...,...,...
8570,VIS,2019-12-09,48.70,48.76,40236,1958325.66,48.70,48.96,48.44,48.6710
8571,VIS,2019-12-10,48.16,48.70,60198,2895965.78,48.16,48.74,47.70,48.1201
8572,VIS,2019-12-11,47.96,48.16,63000,3012462.12,47.96,48.42,47.52,47.8169
8573,VIS,2019-12-12,48.42,47.96,50218,2429199.80,48.42,48.66,47.76,48.3731
8574,VIS,2019-12-13,48.64,48.42,62427,3038685.10,48.64,49.18,48.12,48.6758

In [22]:
df['Fecha'][0]#Vamos a ver que el elemento 0 ya cambio de tipo de dato

pandas._libs.tslibs.timestamps.Timestamp

In [12]:
type(df['Fecha'][0])#Vamos a ver que tipo de dato tienen los datos de la serie-columna Fecha

NameError: name 'df' is not defined

Ahora veremos como extraer info mas específicas de estos tipos de datos...

In [48]:
df['Fecha'][44]#Obtencion gnral de la info del elemento-dato 44

Timestamp('2019-03-05 00:00:00')

In [49]:
df['Fecha'][44].year#Obtención específica del elemento-dato 44, en este caso obtenemos el año gracias al atrib .year

2019

In [51]:
df['Fecha'][44].month#Lo mismo que arriba pero con acá obtenemos el mes gracias al atrib .month

3

Y asi ↑ como está arriba lo podemos hacer con las horas,minutos,segundos,etc etc, es cuestion de revisar esos atrib que nos ayudará a obtener ese dato específico

Manip las fechas de nuestro DF, restando,sumando,etc a las fechas del df días,mín, hs o segundos...:

In [58]:
df_mas_5_dias = df['Fecha'] + pd.Timedelta(days = 5)#Acá lo que estamos haciendo es a los días que hay en el df le sumamos 5 días mas(por eso está el +), ej: el primer dia arranca asi:2019-01-02 por ende mas +5 daria 2019-01-07 por 2+5=7 y esto gracias a la fn-metodo Timedelta() la cual permite trab con unidades como dias, y le pasamos como parámetro days y le pasamos el valor de 5 para sumarle eso 
df_mas_5_dias.head(3)#Acá vamos a ver la suma de aplicada a los días, los 1eros 3 resgistros

0   2019-01-07
1   2019-01-08
2   2019-01-09
Name: Fecha, dtype: datetime64[ns]