In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({

    'col1':[100,200,300],
    'col2':[400,500,600],
    'col3':[700,800,900]
    
}, index = ['fila1','fila2','fila3'])

df

       col1  col2  col3
fila1   100   400   700
fila2   200   500   800
fila3   300   600   900

In [4]:
df.loc['fila1']#Acceder a cada registro de cada columna de la fila1

col1    100
col2    400
col3    700
Name: fila1, dtype: int64

In [5]:
type(df.loc['fila1'])

pandas.core.series.Series