In [2]:
import pandas as pd

In [3]:
#Creacion del df 
df = pd.DataFrame({

    'col1':[100,200,300],
    'col2':[400,500,600],
    'col3':[700,800,900]
    
}, index = ['fila1','fila2','fila3'])

df

       col1  col2  col3
fila1   100   400   700
fila2   200   500   800
fila3   300   600   900

.loc: permite seleccionar filas y columnas basandonos en sus eetiquetas

Trabaja con etiquetas

In [4]:
df.loc['fila1']#Acceder a cada registro de la fila1 de cada columna

col1    100
col2    400
col3    700
Name: fila1, dtype: int64

In [5]:
type(df.loc['fila1'])#Esto será una serie, pq estamos eligiendo una fila y una fila tiene múltiples columnas, pandas devuelve un objeto unidimensiona

pandas.core.series.Series

In [6]:
df.loc[['fila1','fila3']]#Ahora hacemos los mismo pero accedemos a dos filas, fila1 y la 3, le colocamos doble [] pq hay que aclarar que adentro habrá mas de una fila

       col1  col2  col3
fila1   100   400   700
fila3   300   600   900

In [7]:
type(df.loc[['fila1','fila3']])#Esto será un df, pq selecciona múltiples filas

pandas.core.frame.DataFrame

In [9]:
df.loc['fila2':'fila3']#Estas filas no fueron pasadas como lista, se paso como una segemntacion, gracias a los :, la segment permite eso, tomar lo del inicio y lo del final inicio:final

pandas.core.frame.DataFrame

In [13]:
df.loc[[False,True,False]]#Tb se puede pasarle una lista con booleanos, acá solo vamos a obtener la fila2 en formato df, pq?? pq el 1er false representa a la fila 1, el True representa a la fila2 y 2do false representa a la 3era fila

       col1  col2  col3
fila2   200   500   800

In [15]:
type(df.loc[[False,True,False]])#Así logramos ver el tipo de dato que nos dev, acá nos devolverá un DF

pandas.core.frame.DataFrame

In [16]:
#Filas que cumplan alguna condicion...
df.loc[df['col1'] > 150]#Buscar algun valor de la col1 que sea mayor a 150,buscarlo en las filas

       col1  col2  col3
fila2   200   500   800
fila3   300   600   900

In [17]:
df.loc[:, ['col1','col2']]#Acá básicamente estamos eligiendo todas las filas(por el :) y solo las columnas 1 y 2, el result será un df con esas columnas específicas y con todas las filas

       col1  col2
fila1   100   400
fila2   200   500
fila3   300   600

.iloc:hace básicmanete algo similar a su hermana loc, pero no se basa en las etiquetas de las filas y columnas, sino que en las posiciones numéricas.

Trabaja con posiciones numéricas

In [18]:
df.iloc[0]#Acá obtenemos la primera serie de cada fila por la posicion que le pusimo q es 0. En formato serie

col1    100
col2    400
col3    700
Name: fila1, dtype: int64

In [19]:
df.iloc[:, [0,1]]#Pasame todas las filas(por el :) y dps dame la 1ero y 2da columna

       col1  col2
fila1   100   400
fila2   200   500
fila3   300   600

In [22]:
df.iloc[0:3]#Pasame todo desde la fila 1 hasta la 3

       col1  col2  col3
fila1   100   400   700
fila2   200   500   800
fila3   300   600   900