In [1]:
import pandas as pd

Cargar datos y crear los dos DFs

In [3]:
df = pd.read_csv('Datos_Ventas_Tienda.csv')
df.head(5)

       Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0  1/17/2023  Electrónic         7              200         1400
1   9/1/2023  Electrónic         8              200         1600
2  7/29/2023    Juguetes         3               30           90
3  10/4/2023   Alimentos         4               10           40
4  2/28/2023  Electrónic         6              200         1200

In [5]:
df2 = pd.read_csv('Datos_Ventas_Tienda2.csv')
df2.head(5)

        Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0   8/25/2023  Electrónic         5              200         1000
1   8/14/2023   Alimentos         9               10           90
2   8/30/2023        Ropa         6               50          300
3   11/9/2023   Alimentos         2               10           20
4  10/26/2023        Ropa         8               50          400

Concatenación de los dos DFs con el método de pd .concat()

In [12]:
df_fusión = pd.concat([df,df2],ignore_index=True)
df_fusión

          Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0     1/17/2023  Electrónic         7              200         1400
1      9/1/2023  Electrónic         8              200         1600
2     7/29/2023    Juguetes         3               30           90
3     10/4/2023   Alimentos         4               10           40
4     2/28/2023  Electrónic         6              200         1200
...         ...         ...       ...              ...          ...
1045  9/11/2023    Juguetes        10               30          300
1046   1/3/2023    Juguetes        10               30          300
1047  11/7/2023   Alimentos         3               10           30
1048  8/20/2023  Electrónic         6              200         1200
1049  7/21/2023    Juguetes         3               30           90

[1050 rows x 5 columns]

Limpieza de datos

In [15]:
#Ver si hay val nulo y duplicados
df_fusión.info()
df_fusión.duplicated()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            1050 non-null   object
 1   Producto         1050 non-null   object
 2   Cantidad         1050 non-null   int64
 3   Precio Unitario  1050 non-null   int64
 4   Total Venta      1050 non-null   int64
dtypes: int64(3), object(2)
memory usage: 41.1+ KB

0       False
1       False
2       False
3       False
4       False
        ...
1045    False
1046    False
1047    False
1048    False
1049    False
Length: 1050, dtype: bool

Filtrado

In [34]:
#Filtramos el total de ventas mayores a 1000
df_filtrado = df_fusión[df_fusión['Total Venta']>1000]
df_filtrado.head(5)

        Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0  2023-01-17  Electrónic         7              200         1400
1  2023-09-01  Electrónic         8              200         1600
4  2023-02-28  Electrónic         6              200         1200
19 2023-06-18  Electrónic         9              200         1800
21 2023-05-01  Electrónic        10              200         2000

In [33]:
#Filtramos un prod específico
df_alimentos = df_fusión[df_fusión['Producto'] == 'Alimentos']
df_alimentos.head(5)

        Fecha   Producto  Cantidad  Precio Unitario  Total Venta
3  2023-10-04  Alimentos         4               10           40
10 2023-09-12  Alimentos         2               10           20
12 2023-11-21  Alimentos         3               10           30
13 2023-05-27  Alimentos         2               10           20
16 2023-06-05  Alimentos         6               10           60

In [36]:
#Transformo la columna fecha a tipo datetime y dps filtro con year para que me ayude a obtener las ventas de ese año
df_fusión['Fecha']=pd.to_datetime(df_fusión['Fecha'])
df_2023 = df_fusión[df_fusión['Fecha'].dt.year == 2023]
df_2023.head(5)

       Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0 2023-01-17  Electrónic         7              200         1400
1 2023-09-01  Electrónic         8              200         1600
2 2023-07-29    Juguetes         3               30           90
3 2023-10-04   Alimentos         4               10           40
4 2023-02-28  Electrónic         6              200         1200

Análisis de ventas:
1_¿Cúal es el prod más vendido?
2_¿Cual es el mes con mas ventas?

In [53]:
#1_
#Agrupamos por producto, dps obtenemos el total de de ventas de cada prod y por ult ordenamos de forma descendente(arriba hacía abajo) y que nos muestre el 1ero prod mas vendido
agrup_ventas = df_fusión.groupby('Producto')['Total Venta'].max()
agrup_ventas.sort_values(ascending = False).head(1)

Producto
Electrónic    2000
Name: Total Venta, dtype: int64

El prod más vendido el electronico con 2000

In [56]:
#2_Hacemos lo mismo que arriba solo que enfocado para mes
agrup_mes = df_fusión.groupby(df_fusión['Fecha'].dt.month)['Total Venta'].max()
agrup_mes.sort_values(ascending = False).head(1)

Fecha
1    2000
Name: Total Venta, dtype: int64

El mes donde más ventas hay es el mes 1

In [ ]:
Datos agrupados

In [63]:
#Obtener el max vendido de total de ventas por cada categoria de prod
Agrup_por_prod = df_fusión.groupby('Producto')['Total Venta'].max()
Agrup_por_prod.sort_values(ascending = False)

Producto
Electrónic    2000
Ropa           500
Juguetes       300
Libros         200
Alimentos      100
Name: Total Venta, dtype: int64

In [67]:
#Obtener el min vendido de total de ventas por cada categoria de prod
Agrup_por_prod = df_fusión.groupby('Producto')['Total Venta'].min()
Agrup_por_prod.sort_values(ascending = False)

Producto
Electrónic    200
Ropa           50
Juguetes       30
Libros         20
Alimentos      10
Name: Total Venta, dtype: int64

In [65]:
#Obtener la suma total de las cantidades de prod 
Agrup_por_prod = df_fusión.groupby('Producto')['Cantidad'].sum()
Agrup_por_prod.sort_values(ascending = False)

Producto
Alimentos     1262
Electrónic    1220
Ropa          1128
Juguetes      1113
Libros        1042
Name: Cantidad, dtype: int64

In [68]:
#Obtener el promedio vendido por cada prod
Agrup_por_prod = df_fusión.groupby('Producto')['Total Venta'].mean()
Agrup_por_prod.sort_values(ascending = False)

Producto
Electrónic    1074.889868
Ropa           283.417085
Juguetes       162.087379
Libros         107.422680
Alimentos       56.339286
Name: Total Venta, dtype: float64

Guardar el df completo en una carpeta

In [74]:
df_guardado = df_fusión.to_csv(r'C:\Users\zapan\Downloads\csv\arch.csv')