In [3]:
import pandas as pd

In [4]:
#Creación del diccionario para almacenar los datos
datos = {'nombre':['Pedro','Juan','Lorena'],'edad':[24,39,33]}
datos

{'nombre': ['Pedro', 'Juan', 'Lorena'], 'edad': [24, 39, 33]}

In [5]:
df = pd.DataFrame(datos)#Importante colocar df pq específicamos que es un dataframe
df

   nombre  edad
0   Pedro    24
1    Juan    39
2  Lorena    33

In [6]:
type(df)#Acá vemos que typo de dato en la var df

pandas.core.frame.DataFrame

In [9]:
df['nombre']#Acá capturamos la serie-columna, en este caso elegimos la columna nombre

0     Pedro
1      Juan
2    Lorena
Name: nombre, dtype: object

In [10]:
df.nombre#dará el mismo resultado que el de arriba

0     Pedro
1      Juan
2    Lorena
Name: nombre, dtype: object

In [11]:
type(df.nombre)#Ver que tipo de dato es la columna series

pandas.core.series.Series

In [21]:
import pandas as pd



df_empleados = pd.DataFrame({'nombre':['Ana','Luis','Carlos'],'edad':[30,25,40]})

shape = df_empleados.shape#con el arg shape tenemos las dimensiones
columns = df_empleados.columns#con columns obtenemos las columnas del df
index = df_empleados.index#acá obtendremos los índices(etiqeutas de las filas) del DF de pandas,RangeIndex(start=0, stop=3, step=1):inicio en 0,termino en 3 y va de unoen uno
print(shape,columns,index)

(3, 2) Index(['nombre', 'edad'], dtype='object') RangeIndex(start=0, stop=3, step=1)