In [1]:
import pandas as pd

In [27]:
data = {"Id_producto":[1001,1002,1003,1003],'Cantidad_vendida':[30,None,25,25],'Precio':[20.5,15.0,None,22.5]}#Diccionario

df = pd.DataFrame(data)#Transformamos en un df al diccionario con el método .DataFrame()
df

   Id_producto  Cantidad_vendida  Precio
0         1001              30.0    20.5
1         1002               NaN    15.0
2         1003              25.0     NaN
3         1003              25.0    22.5

In [18]:
df.info()#Vemos la info del df para ver cuanntos nulos y no nulos hay

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id_producto       4 non-null      int64
 1   Cantidad_vendida  3 non-null      float64
 2   Precio            3 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 224.0 bytes

In [19]:
df.isnull()#Fn para ver valores nulos en el df, True signif que es nulo

   Id_producto  Cantidad_vendida  Precio
0        False             False   False
1        False              True   False
2        False             False    True
3        False             False   False

In [7]:
df.isnull().sum()#Acá estamos viendo tb si hay nulos, pero a dif se colocar solo el isnull() le metemos a eso la fn suma para que por cada columna nos contabilice en total la cant de nulos que hay

Id_producto         0
Cantidad_vendida    1
Precio              1
dtype: int64

El tema de los nulos para solucionarlo hay muchas maneras y depende de lo que queramos hacer, ej:borrarlos, reemplazarlos por 0 por ej u otros valores como números,palabras, el promedio de otros valores, etc etc. Hay varías opciones....

In [28]:
#Opc1:Elimancion de registros con val faltantes-nulos
df_eliminados = df.dropna()#Fn para borrar val nulos
df_eliminados

   Id_producto  Cantidad_vendida  Precio
0         1001              30.0    20.5
3         1003              25.0    22.5

In [29]:
#Opc2:Cambiar los nulos por otros valores
val_nuevos = {"Cantidad_vendida":0,"Precio":df['Precio'].mean()}#Básicamente estamos reemplazando en la columna-serie cant vendida el nulo por 0 y en la de precio estamos obteniendo el promedio(con la fn mean()) de todos los precios que hay para aplicarselo a la fila que tiene nulo
df_rellenar = df.fillna(val_nuevos)#Fn para rellenar, fill es rellenar na los val no válidos y dentro del () hay que poner un criterio para que se haga esto, en este caso le psamos el diccionario val_nuevos
df_rellenar

   Id_producto  Cantidad_vendida     Precio
0         1001              30.0  20.500000
1         1002               0.0  15.000000
2         1003              25.0  19.333333
3         1003              25.0  22.500000

In [30]:
#Cambiar el tipo de dato de float a int para la serie cant vendida
df_rellenar['Cantidad_vendida'].astype(int)#Acá estamos cambiando el tipo de dato que tiene toda la serie cant vendida que es float a -> int con la fn astype(), la cúal converte los tipos de datos de una columna o incluso de un DataFrame completo a otro tipo de datos, como int, float, str
df_rellenar

   Id_producto  Cantidad_vendida     Precio
0         1001              30.0  20.500000
1         1002               0.0  15.000000
2         1003              25.0  19.333333
3         1003              25.0  22.500000

Parte de la limpieza tb entran los duplicados, ahora lo vemos.....

In [38]:
#Eliminacion de 2xplicados ej de como hacerlo:
df_unicos = df_rellenar.drop_duplicates(subset='Id_producto')#Al pasarle el parámetro subset, lo que hace este es fijarse solo la columna que le puse 'Id_producto' y eliminará los duplicados de ahí, el 2do repetido se elimna por defecto siempre
df_unicos

   Id_producto  Cantidad_vendida     Precio
0         1001              30.0  20.500000
1         1002               0.0  15.000000
2         1003              25.0  19.333333

Ahora sí..... ya una vez limpio se puede Data science con este Data Frame