In [53]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [76]:
df = pd.read_csv('Datos+Meteorológicos_Arg_2023.csv')
df.tail()

,Fecha,Ciudad,Temperatura Maxima,Temperatura Minima,Precipitacion,Velocidad del Viento,Humedad Relativa
1820,31/12/2023,Buenos Aires,15,12,0.0,17.9,49.2
1821,31/12/2023,Cordoba,15,7,0.0,17.8,62.4
1822,31/12/2023,Rosario,14,8,0.0,38.2,31.2
1823,31/12/2023,Mendoza,13,9,84.8,27.6,35.3
1824,31/12/2023,Tucuman,15,10,0.0,30.0,49.1

In [55]:
#Qué tipo de dato es fecha?
type(df['Fecha'][0])

str

In [78]:
#Tranformamos al fotmato time y le damos el format con el que está originalmente para que lo interprete de forma original asi puede cambiarlo bien
df['Fecha'] = pd.to_datetime(df['Fecha'],format = '%d/%m/%Y')
df.head(5)

,Fecha,Ciudad,Temperatura Maxima,Temperatura Minima,Precipitacion,Velocidad del Viento,Humedad Relativa
0,2023-01-01,Buenos Aires,27,18,0.0,22.7,68.8
1,2023-01-01,Cordoba,35,18,0.0,33.8,61.7
2,2023-01-01,Rosario,23,21,0.0,10.6,80.0
3,2023-01-01,Mendoza,35,21,0.0,23.8,76.8
4,2023-01-01,Tucuman,36,18,17.2,25.7,54.9

In [79]:
#Creación de una serie donde le metamos los ids a cada ciudad
df['Ciudad_ID'] = df['Ciudad'].factorize()[0]#La fn factorize() genera-asigna estos ids acada city y nosotros de los que el nos genera solo tomamos la primera parte [0]-> el ID
df

,Fecha,Ciudad,Temperatura Maxima,Temperatura Minima,Precipitacion,Velocidad del Viento,Humedad Relativa,Ciudad_ID
0,2023-01-01,Buenos Aires,27,18,0.0,22.7,68.8,0
1,2023-01-01,Cordoba,35,18,0.0,33.8,61.7,1
2,2023-01-01,Rosario,23,21,0.0,10.6,80.0,2
3,2023-01-01,Mendoza,35,21,0.0,23.8,76.8,3
4,2023-01-01,Tucuman,36,18,17.2,25.7,54.9,4
...,...,...,...,...,...,...,...,...
1820,2023-12-31,Buenos Aires,15,12,0.0,17.9,49.2,0
1821,2023-12-31,Cordoba,15,7,0.0,17.8,62.4,1
1822,2023-12-31,Rosario,14,8,0.0,38.2,31.2,2
1823,2023-12-31,Mendoza,13,9,84.8,27.6,35.3,3
1824,2023-12-31,Tucuman,15,10,0.0,30.0,49.1,4

In [80]:
df['Mes'] = df['Fecha'].dt.month
df

,Fecha,Ciudad,Temperatura Maxima,Temperatura Minima,Precipitacion,Velocidad del Viento,Humedad Relativa,Ciudad_ID,Mes
0,2023-01-01,Buenos Aires,27,18,0.0,22.7,68.8,0,1
1,2023-01-01,Cordoba,35,18,0.0,33.8,61.7,1,1
2,2023-01-01,Rosario,23,21,0.0,10.6,80.0,2,1
3,2023-01-01,Mendoza,35,21,0.0,23.8,76.8,3,1
4,2023-01-01,Tucuman,36,18,17.2,25.7,54.9,4,1
...,...,...,...,...,...,...,...,...,...
1820,2023-12-31,Buenos Aires,15,12,0.0,17.9,49.2,0,12
1821,2023-12-31,Cordoba,15,7,0.0,17.8,62.4,1,12
1822,2023-12-31,Rosario,14,8,0.0,38.2,31.2,2,12
1823,2023-12-31,Mendoza,13,9,84.8,27.6,35.3,3,12
1824,2023-12-31,Tucuman,15,10,0.0,30.0,49.1,4,12

In [177]:
var = df['Ciudad_ID'].unique()
var2 = df['Mes'].unique()

#Ciudades
opc1 = var[0]
opc2 = var[1]
opc3 = var[2]
opc4 = var[3]
opc5 = var[4]

for i in var2:

    



def ElegiirCiudad(C,M):
    print(f'Ciudades: \nCABA:{opc1}\nCórdoba:{opc2}\nRosario:{opc3}\nMendoza:{opc4}\nTucumán:{opc5}')
    print(f'Meses: 1,2,3,4,5,6,7,8,9,10,11,12')
    for i in var2:
    if C == var and M == i
        print('Hola')
    
        
ElegiirCiudad(0,1)

IndentationError: expected an indented block after 'for' statement on line 11 (3969557021.py, line 17)